probably_trash/
.viminfo
.bash*
.ipy*
.local/
*.txt
.cache/
.config/
.jupyter/
.keras/
.nv/
.profile
.ssh/
.wget-hsts
.conda/
*.swp
modules/__pycache__/
code/useful_code/backprop_trained_networks/old_code/
code/useful_code/backprop_trained_networks/.ipynb_checkpoints/
etc/
*.png
