.viminfo
.bash*
.ipy*
.local/
*.txt
.cache/
.config/
.jupyter/
.keras/
.nv/
.profile
.ssh/
.wget-hsts
.conda/
*.swp
modules/__pycache_/
*.ipynb_checkpoints/
etc/
*.png
*.pyc
.vim*
*__pycache___
*.h5
.lesshst
data/
.tmux*
